.trajectory-wrapper {
  width: 72%;
  max-width: 100%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.trajectory-box {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #f1f5f8;
  border-radius: 1.5rem;
  border: 2px solid#003366; ;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  overflow: visible;
  padding-inline: 3rem; /* nuevo: margen visual izquierdo y derecho */
}

/* SVG y path */
.trajectory-line {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6rem); /* nuevo: restamos el padding */
  height: 100%;
  z-index: 0;
}

.trajectory-path {
  fill: none;
  stroke: orange;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 2s ease infinite;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

/* Pasos */
.steps-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.step {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.circle {
  width: 26px;
  height: 26px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.label {
  color: orange;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .step {
    transform: translate(-50%, -50%) scale(0.8);
  }

  .trajectory-box {
    padding-inline: 1.5rem; /* menos margen en pantallas pequeñas */
  }

  .trajectory-line {
    width: calc(100% - 3rem); /* ancho reducido con nuevo padding */
  }

  .trajectory-wrapper {
    width: 100%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
  }
}

.spinner-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* ajusta según el alto de tu toolbar */
  width: 100%;
}

.trajectory-header i {
  font-size: 1.5rem; /* Tamaño del icono */
  color: #003366;    /* O el color que desees */
}

.trajectory-title {
  margin: 0;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.trajectory-title {
  position: relative;
  cursor: help;
}

.tooltip-text {
  visibility: hidden;
  width: 320px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  font-size: 0.85rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.trajectory-title:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
