
<div class="header">
  <i class="fa-solid fa-graduation-cap" style="font-size: 2rem;"></i>
  <h2 class="trajectory-title">{{ 'STUDIES_TITLE' | translate }}
  <span class="tooltip-text">
    {{ 'STUDIES_TOOLTIP' | translate }}
  </span>
</h2>
</div>


<div class="trajectory-wrapper fade-in card-style">
  <div class="trajectory-box" #trajectoryBox>
    <svg class="trajectory-line" viewBox="0 0 1000 200" preserveAspectRatio="none">
      <path  d="M 50 180 C 300 120, 700 60, 950 20" class="trajectory-path" />

    </svg>

    <div class="steps-container">
      <div class="step" style="left: 5%; top: 87%;">
        <button
          mat-icon-button
          [matTooltip]="'JAVA_COURSE' | translate"
          (click)="handleClick('JAVA_COURSE', 'JAVA_DESC')"
        >
          <div class="circle">1</div>
        </button>
      </div>

      <div class="step" style="left: 30%; top: 60%;">
        <button
          mat-icon-button
          [matTooltip]="'DEVOPS_COURSE' | translate"
          (click)="handleClick('DEVOPS_COURSE', 'DEVOPS_DESC')"
        >
          <div class="circle">2</div>
        </button>
      </div>

      <div class="step" style="left: 65%; top: 27%;">
        <button
          mat-icon-button
          [matTooltip]="'PYTHON_COURSE' | translate"
          (click)="handleClick('PYTHON_COURSE', 'PYTHON_DESC')"
        >
          <div class="circle">3</div>
        </button>
      </div>

      <div class="step" style="left: 86%; top: 10%;">
        <button
          mat-icon-button
          [matTooltip]="'FP_COURSE' | translate"
          (click)="handleClick('FP_COURSE', 'FP_DESC')"
        >
          <div class="circle">4</div>
        </button>
      </div>
    </div>
  </div>
</div>
