<nav class="navbar" [ngClass]="{ 'light-mode': darkMode, 'dark-mode': !darkMode }">
  <div class="nav-left">
    <a routerLink="/about-me" class="nav-link">{{ 'ABOUT_ME' | translate }}</a>
    <a routerLink="/projects" class="nav-link">{{ 'PROJECTS' | translate }}</a>
  </div>

  <div class="nav-right">
    <div class="dropdown-language">
      <button (click)="toggleDropdown()">{{ getLanguageName(selectedLanguage) }}</button>
      <ul [class.show]="dropdownOpen">
        <li *ngFor="let lang of languages" (click)="changeLanguage(lang.code)">
          <img [src]="lang.flag" alt="{{lang.name}}" width="20" />
          {{ lang.name }}
        </li>
      </ul>
  </div>

    <button (click)="toggleDarkMode()" class="ml-10px">
      {{ darkMode ? 'Modo claro' : 'Modo oscuro' }}
    </button>
  </div>
</nav>
