<div class="trabajo-wrapper">
  <div class="header" style="margin-bottom: 2rem;">
    <i class="fa-solid fa-briefcase" style="font-size: 2rem;"></i>
    <h2 class="section-title" style="margin-top: 10px;">{{ 'WORK' | translate }}</h2>
  </div>
  <div class="trabajo-box">
    <div class="trabajo-line"></div>

    <div class="trabajo-step">
      <div class="circle">1</div>
      <div class="trabajo-content">
        <div class="label" [appRevealText]="'JOB_1_TITLE'" [delay]="40"></div>
        <div class="description" [appRevealText]="'JOB_1_DESC'" [delay]="40"></div>
      </div>
    </div>

    <div class="trabajo-step">
      <div class="circle">2</div>
      <div class="trabajo-content">
        <div class="label" [appRevealText]="'JOB_2_TITLE'" [delay]="40"></div>
        <div class="description" [appRevealText]="'JOB_2_DESC'" [delay]="40"></div>
      </div>
    </div>
  </div>
</div>
