<div class="trabajo-wrapper">
  <h2 class="section-title">{{ 'WORK' | translate }}</h2>
  <div class="trabajo-box">
    <div class="trabajo-line"></div>

    <div class="trabajo-step">
      <div class="circle">1</div>
      <div class="trabajo-content">
        <div class="label" [appRevealText]="'JOB_1_TITLE'" [delay]="40"></div>
        <div class="description" [appRevealText]="'JOB_1_DESC'" [delay]="40"></div>
      </div>
    </div>

    <div class="trabajo-step">
      <div class="circle">2</div>
      <div class="trabajo-content">
        <div class="label" [appRevealText]="'JOB_2_TITLE'" [delay]="40"></div>
        <div class="description" [appRevealText]="'JOB_2_DESC'" [delay]="40"></div>
      </div>
    </div>
  </div>
</div>
