<div class="project-container">
  <div *ngIf="project?.images?.length" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="1000">
    <ol class="carousel-indicators">
      <li *ngFor="let image of project.images; let i = index"
          [attr.data-target]="'#carouselExampleIndicators'"
          [attr.data-slide-to]="i"
          [class.active]="i === 0">
      </li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let image of project.images; let i = index" [class.active]="i === 0">
        <img class="d-block w-100" [src]="image" alt="Slide {{ i + 1 }}">
      </div>
    </div>
  </div>



  <div class="project-info" *ngIf="project">
    <h2>{{ project.name }}</h2>
    <div [ngSwitch]="language">
        <p *ngSwitchCase="'es'">{{ project.description_es }}</p>
        <p *ngSwitchCase="'fr'">{{ project.description_fr }}</p>
        <p *ngSwitchCase="'en'">{{ project.description_en }}</p>
      <div *ngSwitchDefault>{{ project.description_es }}</div>
    </div>
    <div class="badges">
      <span *ngFor="let tech of project?.technologies" class="badge">{{ tech }}</span>
      </div>
  </div>
</div>
