<div class="project-container" *ngIf="project?.images?.length">
  <div *ngIf="project" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="1000">
    <ol class="carousel-indicators">
      <li *ngFor="let image of project.images; let i = index"
          [attr.data-target]="'#carouselExampleIndicators'"
          [attr.data-slide-to]="i"
          [class.active]="i === 0">
      </li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let image of project.images; let i = index" [class.active]="i === 0">
        <img class="d-block w-100" [src]="image" alt="Slide {{ i + 1 }}">
      </div>
    </div>
  </div>


  <div class="project-info">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description_es }}</p>

    <div class="badges">
      <span *ngFor="let tech of project.technologies" class="badge">{{ tech }}</span>
      </div>
  </div>
</div>