<mat-sidenav-container class="sidenav-container">

  <!-- SIDENAV -->
  <mat-sidenav #sidenav mode="over" class="sidenav" (closedStart)="opened = false">
    <a routerLink="/about-me" (click)="sidenav.close()" routerLinkActive="active">
      <i class="fa-solid fa-circle-user"></i> {{ 'ABOUT_ME' | translate }}
    </a>
    <a routerLink="/projects" (click)="sidenav.close()" routerLinkActive="active">
      <i class="fa-solid fa-laptop-code"></i> {{ 'PROJECTS' | translate }}
    </a>
    <a routerLink="/contact" (click)="sidenav.close()" routerLinkActive="active">
      <i class="fa-solid fa-envelope"></i> {{ 'CONTACT' | translate }}
    </a>
    <button (click)="confirmDownload()" class="cv-button">
      <i class="fa-solid fa-file-arrow-down"></i> {{ 'DOWNLOAD' | translate }}
    </button>
  </mat-sidenav>


  <!-- MAIN CONTENT -->
  <mat-sidenav-content>
    <mat-toolbar [ngClass]="darkMode ? 'light-navbar' : 'dark-navbar'" class="navbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-spacer"></span>

      <!-- Language Dropdown -->
      <div class="dropdown-language" [class.open]="dropdownOpen">
        <button mat-button (click)="toggleDropdown()">
          {{ getLanguageName(selectedLanguage) }}
        </button>
        <ul *ngIf="dropdownOpen" [ngClass]="darkMode ? 'light-navbar' : 'dark-navbar'">
          <li *ngFor="let lang of languages" (click)="changeLanguage(lang.code)">
            <img [src]="lang.flag" alt="{{ lang.name }}" width="20" />
            {{ lang.name }}
          </li>
        </ul>
      </div>

      <!-- Dark Mode Toggle -->
      <button mat-button (click)="toggleDarkMode()">
        <i [ngClass]="darkMode ? 'fa-regular fa-sun' : 'fa-regular fa-moon'"></i>
      </button>
    </mat-toolbar>

    <!-- SPINNER o CONTENIDO -->

    <!-- SPINNER o CONTENIDO -->
    <ng-container *ngIf="loading; else content">
      <ng-container>
        <mat-progress-bar
        mode="indeterminate"
        color="primary"
        class="green-progress-bar">
        </mat-progress-bar>
      </ng-container>
      <div class="spinner-overlay">
        <div class="spinner-border big-spinner color-spinner" role="status"></div>
      </div>
    </ng-container>

    <ng-template #content>
      <router-outlet></router-outlet>
    </ng-template>

  </mat-sidenav-content>

</mat-sidenav-container>


<app-footer></app-footer>