/* You can add global styles to this file, and also import other style files */
body.dark-mode {
  background-color: #121212;
  color: white;
}

body.light-mode {
  background-color: white;
  color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-linear-progress__bar-inner{
  color: #4caf50 !important;
}

body.dark-mode {
  background: linear-gradient(to bottom, #0f172a, #0a0f1f);
  color: #f8fafc;
}

body.light-mode {
  background-color: linear-gradient(to bottom, #fbfbfc,oklch(.967 .003 264.542));
  color: black;
}

/* Asegúrate de que el texto dentro del contenido herede el color */
body, mat-sidenav-container, mat-sidenav-content {
  color: inherit;
  background-color: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

mat-sidenav-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-sidenav-content {
  flex: 1 0 auto;
}

app-footer {
  flex-shrink: 0;
}

body{
  overflow-x: hidden;
}
h2{
  color: #003366 !important; /* modo claro por defecto */
  transition: color 0.3s ease;
}
body.dark-mode  h2,
body.dark-mode  i {
  color: orange !important; /* color modo oscuro */
}

/* styles.css */

app-footer {
  background-color: #b30b0b !important; /* modo claro */
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode app-footer {
  background-color: #f5f5f5 !important;
  color: black !important;
}

body.dark-mode app-footer a {
  color:#121212;
}

app-footer a i{
  color: #ffffff; /* o el color que uses normalmente en modo claro */
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Estilo para modo oscuro */
body.dark-mode app-footer a i{
  color: #000000; /* o el color que quieras en modo oscuro */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.dark-mode  .contact-container{
  color: orange !important; /* color modo oscuro */
  border: 2px solid #003366 !important;
}

body.dark-mode  .project-info{
  color: orange !important; /* color modo oscuro */
}

body.dark-mode  .project-info h2{
  color: #f2f4f7 !important; /* color modo oscuro */
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: repeating-linear-gradient(
    45deg, /* dirección diagonal de izquierda a derecha */
    #ffffff,
    #ffffff 10px,
    oklch(96.7% 0.003 264.542) 10px,
    oklch(96.7% 0.003 264.542) 20px
  );
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;

  color: #333;
}


body.dark-mode .scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: repeating-linear-gradient(
    45deg, /* dirección diagonal de izquierda a derecha */
    #0f172a,
    #0f172a 10px,
    black 10px,
    black 20px
  );
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;

  color: orange !important;
}
.scroll-content {
  display: inline-block;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-right .scroll-content {
  animation-name: scrollRight;
}

.scroll-left .scroll-content {
  animation-name: scrollLeft;
}

@keyframes scrollRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Espacio entre icono y título */
  text-align: center;
}